<% layout('layouts/boilerplate')%>
<% if(!currentUser){ %>
<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img src="https://images.unsplash.com/photo-1542751371-adc38448a05e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop" alt="" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Login</h5>
                    <form action="/login" method="POST" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" name="username" id="username" autofocus required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" name="password" id="password" required>
                        </div>
                        <button class="btn btn-success w-100">Login</button>
                    </form>
                    <div class="mt-2">
                        <a href="/register" class="text-decoration-none text-dark">New to Shop-Flix? Create an account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% }else{ %>
    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                <div class="card shadow">
                    <img src="https://images.unsplash.com/photo-1542751371-adc38448a05e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop" alt="" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title"><%= currentUser.username %> </h5>
                            <div class="mb-3">
                                <p class="text-muted"><%= currentUser.email %> </p>
                            </div>
                            <a href="/orders" class="btn btn-outline-dark w-100 mb-2">View Orders</a>
                            <a href="/logout" class="btn btn-outline-dark w-100">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% } %>  