<% layout('layouts/boilerplate')%>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1>My Orders</h1>
            <% for(let order of orders) { %>
                <div class="card mb-2">
                <ul class="list-group list-group-flush">
                    <% for(let its of order.items) { %>
                        <li class="list-group-item">
                            <%= its.item.title %> | <%= its.qty %> units
                                    <span class="badge bg-dark text-light rounded-pill" style="float: right;">
                                        <%= its.price %>
                                    </span>
                        </li>
                        <% } %>
                </ul>
                <div class="card-footer text-muted">
                    <strong>Total Price: $<%= order.cart.totalPrice %></strong>
                </div>
                </div>
                <% } %>
        </div>
    </div>